{% extends 'base.html.twig' %}

{% block title %}Pull List{% endblock %}

{% block body %}
    Please click the link below to complete your registration to Pull List:

    <a href="{{ base }}/{{ token }}" target="_blank">Verify</a>
{% endblock %}
