{% extends 'base.html.twig' %}

{% block title %}Pull List{% endblock %}

{% block body %}
    Please click the link below to verify your email address on Pull List:

    <a href="{{ base }}/{{ token }}">Verify</a>
{% endblock %}
